body
{
margin:0;
 background:url(images/background.jpg) repeat-x;
}
a,span
{
color:white;
text-decoration:none;
font-weight:bold;
}

#wrapper
{
width:100%;
height:100%;
position:absolute;
top:8%;
}
#header
{
position:fixed;
top:0;
float:left;
background-color:#426A57;
width:100%;
height:8%;
}
#logo
{
width:10%;
float:left;
margin-left:2%;
margin-top:-5px;
}
#noti
{
width:10%;
float:left;
margin-top:1%;
margin-left:5%;
}
#searchbox
{
width:25%;
position:fixed;
top:2%;
left:30%;

}
#searchbox input
{
height:22px;
border: 1px solid #8b9dc3;
}
#searchbtn
{
cursor:pointer;
position:fixed;
top:2.1%;
left:55%;
}
#searchtxt
{
width:100%;
}
#home
{
position:fixed;
top:2%;
left:70%;
}
#logout
{
position:fixed;
top:2%;
right:4%;
}
#maincontent
{
width:100%;
height:92%;
float:left;


}
#left1
{
width:15%;
height:100%;
float:left;

}
#left2
{
width:16%;
height:100%;
float:left;

}
#information > #info
{
  background:#769B50;
  font-size: 16px;
  border: 3px solid ;
  margin-top:2%;
}
#propic
{
width:100%;
height:40%;


}
#picdis
{
width:95%;
height:60%;
margin-top:1%;
margin-left:0.5%;

}
#upld
{
width:100%;
height:40%;
margin-top:-8px;
}
#right1
{
width:19%;
height:100%;
float:left;

}
#right2
{
width:50%;
height:100%;
float:left;
background:;


}
#passchange{
	width:100%;
	height:100%;
	float:left;
	margin-top:20%;
	margin-left:28%;
}
#passchange input
{
	border: 1px solid #8b9dc3;
    color: #000;
    font-family: Arial,sans-serif;
    font-size: 18px;
    height: 32px;
    width: 15em;
    padding-left: 1%;
    margin:7px;
}
#button{
cursor: pointer;
}
#photoimg{
	margin-top:10px;
	float:left;
}

#update textarea{
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left:0;
    width: 100%;
    height: 10%;
    margin-top:-15px;
    border: 1px solid #8b9dc3;
}
#rest
{
 width: 100%;
 max-height:100%;
 background:silver;
  overflow:auto;  
 
}

#postbtn{
    cursor:pointer;
    font-weight:bold;
    float: right;
    width: 77px;
    height: 30px;
    margin-top: -19px;
    margin-right: 1px;
    border: 1px solid #426A57;
    background-color:#426A57;
    color:#FFFFFF;
}
#srchbtn
{
	cursor: pointer;
    color: #fff;
    font-family: arial;
    font-weight: bold;
   
    background: #426A57;
    border: 1px solid #fff;
}
#srchbtn:hover{
 background-color:#426A57;
 color:#FFFFFF;
 height:20px;
}
#saveNewPic
{
float:left;
}
#mark{
	font-family: Arial, Helvetica, sans-serif;
	
	color:black;
	font-weight: bold;
	position:absolute;
	margin-left:13%;
	margin-top:4%;
}
#gender input,td
{
	font-color:white;
	margin-left:3px;
    font-size:20px;
    height: 16px;
    width: 1em;
   
}
#cmntc {
background:#426A57;
margin-top:5px;
margin-left:3px;
}
#text input {
	height:40px;
	}

.DOB{
    background-color: #FFFFFF;
    font-size: 15px;
    height: 25px;
    width: 77px;
    border: 0px  white;
    padding: 2px 2px 2px 2px;
    margin-left: 4px;
}
#D0B{
	background:white;
	width:265px;
	height:29px;
	color:#000;
	padding:3px;
	margin-left:7px; 
	border:1px solid #8b9dc3;
	}
.DOB:hover{
	background-color:#CCFFCC;
	}
#dob {
    font-size: 17px;
    font-family: bold;
    font-weight:bold;
    margin-left: 8px;
    text-shadow: 0 0 2px #000;
}
#gender
{
margin-left:3px;
margin-top:-8px;
}

#menu
{
position:fixed;
top:-6px;
right:115px;
}

#menu ul {
  margin-left:0px;padding:0;
}
#menu ul a {
  text-decoration: none;
}
#menu ul li {
  list-style: none;
  float: left;
  position: relative;
}
#menu ul li a {
  background: #426A57;
  color: #fff;
  
  display: block;
  padding: 4px;
  width: 154px;
}
#menu ul ul {
  padding:0;
  overflow: hidden;
}
#menu ul ul li {
  float: none;
  display: none;
  border-bottom: 1px solid #ccc;
}
#menu ul ul li a {
  background: #426A57;
  color: white;
  border:none;
}
#menu ul ul li a:hover {
  background: silver;
}
#menu ul li a:hover, 
#menu ul li:hover ul li {
  display:block !important;
}
#menu1
{
position:fixed;
top:-6px;
left:300px;
}
#menu1 ul {

  margin-left:0px;padding:0;
}
#menu1 ul a {

  text-decoration: none;
}
#menu1 ul li {

  list-style: none;
  float: left;
  position: relative;
}
#menu1 ul li a {
  background:#426A57;
  color: #fff;
  
  display: block;
  padding: 4px;

}
#menu1 ul ul {

  padding:0;
  overflow: hidden;
}
#menu1 ul ul li {
  float: none;
  display: none;
  border-bottom: 1px solid #ccc;

}
#menu1 ul ul li a {
  background: #426A57;
  color: white;
  border:none;
  
}
#menu1 ul ul li a:hover {
  background: #426A57;
}
#menu1 ul li a:hover, 
#menu1 ul li:hover ul li {
  display:block !important;
}
#menu1 ul li ul
{
 width:177px;
 max-height: 500px; 
 overflow: auto;
 overflow-x: hidden;
 margin-left:-70px;
}

#updatestatus
{
	
    font-weight:bold;
    font-size:15px;
    width: 120px;
    height: 24px;
    margin-top:1px;
   
    background-color:#426A57;
    color:#FFFFFF;
}
